require 'logger'

module PiAlarmclock
  module Config
    @values = {      
      :alarm_time   => (6 * 60 + 15) * 60,						# Seconds after midnight... for now
      :sunrise_duration => 30 * 60,                             # Seconds	  
      :pidfile             => '/var/run/alarmclock/alarmclock.pid',
      :logfile             => '/var/log/alarmclock/alarmclock.log',
      :loglevel            => Logger::INFO,
    }
    
    def self.method_missing(name)
      return @values[name] if @values.has_key?(name)
      super
    end
  end
end

